body{
    background-color: crimson;
    color: white;

}

.heading{
    width: 80%;
    font-size: 20px;

}
#camera{
    border : 2px dashed black;
    width: 350px;
    height: 300px;

}
.name_off_object,#result_object_name,#result_object_accuracy{
    color :rgb(255, 230, 147);

}